body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
}

.container  {
    margin-top: 100px;
    border: 1px solid #9C9C9C;
    background-color: #fff;
    padding:30px;
    text-align: center;
}
.container h2{
    margin-bottom:25px;
}
.text-info {
    color: #000 !important;
}
table{
    margin-top: 40px;
}
table tr{
    text-align: center;
    background: steelblue;
    line-height: 35px;
    color: lavender;
}
table td{
    text-align: center;
    background: darkturquoise;
    padding: 15px;
    color: lightcyan;
}
button.logout{
    background: rosybrown;
    padding: 8px;
    border-radius: 5px;
    width: 150px;
    color: snow;
}